@page "/"

<h1>Привіт!</h1>
<p>Це тестова сторінка.</p>

<hr />

<p>Трохи тексту для прикладу.</p>

<footer style="margin-top: 50px; text-align: center; font-size: 1.5rem; color: gray;">
    Хорошого дня!
</footer>
